@import url("./global_styles.css");

html,
body {
    margin: 0;
    padding: 0;
    color: var(--white);
    overflow-y: scroll;
    scrollbar-width: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: url("../../public_html/media/platformBG.png") no-repeat center center; */
    /* background: linear-gradient(90deg, #1e3446 0%, #58717d 50%, #5e5e5e 100%); */
    /* background: linear-gradient(180deg, #0a273d, rgba(57, 121, 151, 0.993) ,#0a273d); */
    background-size: cover;
    transform-origin: center;
    z-index: -1;
}
.sidebar {
    z-index: 100000;
}

#comparing-cars-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 0;
    color: var(--white);
    /* background: url("../../public_html/media/Car_Comparison_Page_Images/car-banner.jpg") 
        no-repeat center center;  */
        /* background: url("../../public_html/media/thisOrThat.png") no-repeat center center; */
        /* background: url("../../public_html/media/THIS\ OR\ THAT1.webp") no-repeat center center; */
        /* background: url("../../public_html/media/THIS\ OR\ THAT2.webp") no-repeat center center; */
        background: url("../../public_html/media/THIS\ OR\ THAT3.PNG") no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;


}


#comparing-cars-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 15, 0.685);
    backdrop-filter: blur(4px);

    z-index: 1;
}

#comparing-cars-banner h1 {
    font-family: var(--technoRace_font);
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #d6d6d6;
    text-shadow:3px 1px 2px #116d9796;
}

#comparing-cars-banner p {
    /* font-family: "New Amsterdam", var(--header_font); */
    font-family: var(--paragraph_font);
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 1.4rem;
    margin-top: 0.2rem;
}

#comparing-cars-banner h1,
#comparing-cars-banner p {
    position: relative;
    z-index: 2;
}
.gradientBG {
    width: 100%;
    height: 120vh; /*HERE TO ETEND PAGE INCASSE FORM INCREASED */
    /* background: linear-gradient(90deg, #1e3446 0%, #58717d 50%, #5e5e5e 100%); */
    background: linear-gradient(90deg, #0a273d,  #0a273d,#397997fd , #0a273d,#0a273d);
     background-size: cover;
    overflow: hidden;
    z-index: -100; 
}

.gradientBG::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        160deg,
        rgba(30, 52, 70, 0.85),
        rgba(88, 113, 125, 0.75),
        rgba(94, 94, 94, 0.85)
    ); 
    z-index: -1; 
}
.comparison-section {
    display: flex;
   align-items: center;
    justify-content: center;
    margin-top: 30px;
    /* margin-left: 4rem; */
    width:100vw;
}

.car-card {
    /* background: rgba(0, 0, 0, 0.605); */
    background: var(--grad2);
    border: 2px solid #d6d6d61a;
    backdrop-filter: blur(6px);
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(1, 5, 17, 0.733);
    width: 35%;
    padding: 20px;
    margin-left: 4rem;
}


.car-image img {
    max-width: 100%;
    border-radius: 8px;
    background-color: transparent;
}

.car-card:first-child .car-image img {
    transform: scaleX(-1);
}
.car-details-title
{
    font-family:var(--header_font) ;
    font-size: 2rem;
    color: var(--white);
text-align: center;
}
.car-details h2 {
    font-size: 34px;
    font-family: "DM Sans", "Roboto", var(--paragraphs_font);
    margin: 15px 0 10px 0;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 7px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    color: var(--white);
    font-size: 1.2rem;
    font-family: "Roboto", var(--paragraphs_font);
    font-weight: 100;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 85%;
    padding: 10px;
    border-radius: 14px;
    border: none;
    height: 45px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 5px;
    font-family: "DM Sans", monospace;
    font-size: large;
    font-weight: bold;
    background-color: rgba(90, 89, 89, 0.411);
    color: var(--white);
}

select:focus {
    /* border-color: rgb(65, 83, 139); */
    border: 2px solid #397997fd;
    box-shadow: 0 0 5px rgb(10, 39, 61);
    outline: none;
}

.car-comparison-section {
    text-align: center;
    /* margin: 0 auto; */
    margin-left: 15rem;
    /* padding: 20px; */
}

.car-comparison-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-left: 230px;
    font-family: "DM Sans", "Roboto", var(--paragraph_font);
    text-align: left;
}

.comparison-grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr); /* Adjust for number of cars */
    gap: 20px;
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.feature-item {
    text-align: left;
    font-weight: bolder;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-family: "DM Sans", "Roboto", var(--paragraph_font);
}

.feature-item .icon {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    filter: invert(100%) brightness(200%);
}

.car-column {
    border-left: 3px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car-column h3 {
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: "DM Sans", "Roboto", var(--paragraph_font);
}

.car-column h1,
.car-column p {
    margin: 5px 0;
}

.car-column p {
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: "DM Sans", "Roboto", var(--paragraph_font);
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.btn{
    left: 43.5%;
}

/* .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: var(--light_blue);
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--light_blue);
    box-shadow: 0 0 0 2px var(--light_blue);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    left: 44.5%;
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--navy);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: var(--white);
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px white;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
} */

.modal-header {
    font-family: "DM Sans", "Roboto", var(--paragraph_font);
    /* background-color: var(--navy); */
    font-size: 1.5rem;
    padding: 16px;
    margin: 15px 0;
    color: white;
    position: absolute;
    top: 0;
    left: 34%;
    width: 100%; /* Make the header span the entire width of the modal */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
    width: fit-content;
    font-style: italic;
}

#comparison-modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Adjust as needed */
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--red);
}

.comparison-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spec-card {
    text-align: center;
    padding: 20px;
    position: relative;
}

.spec-card h4 {
    font-size: 1.5rem;
    color: #333; /* Adjust color as needed */
    margin-top: 0;
}

.spec-value {
    font-size: 1.3rem;
    color: #555; /* Adjust color as needed */
    margin-top: 10px;
}

/* OVERLAY OUTPUT  */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(70px);
    background: rgba(39, 38, 38, 0.166);
    z-index: -1;
}

.modal-content {
    position: relative;
    /* background: rgba(0, 0, 0, 0.733); */
    /* background: linear-gradient(90deg, #1e3446 0%, #58717d 50%, #303030 100%); */
    /* background: linear-gradient(180deg, #1e3446, rgba(57, 121, 151, 0.993) 50%, #1e3446); */
    /* background: linear-gradient(180deg, #0a273d 0%, rgba(57, 121, 151, 0.993) 50%, #0a273d); */
    background:  linear-gradient(160deg, #4d4d4d, #2020202d, #2020202d, #4d4d4d);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    max-width: 70%;
    max-height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 2px solid #d6d6d61a;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.616);
}

.modal-content::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
    #comparing-cars-banner h1 {
        font-size: 2.5rem;
    }

    #comparing-cars-banner p {
        font-size: 1.2rem;
    }

    .comparison-section {
        flex-direction: column;
        align-items: center;
    }

    .car-card {
        width: 90%;
        margin: 10px 0;
    }

    .car-details h2 {
        font-size: 24px;
    }

    .comparison-grid {
        grid-template-columns: 1fr;
    }

    .car-column {
        border-left: none;
    }

    .car-column h3 {
        font-size: 1.2rem;
    }

    .animated-button {
        padding: 12px 24px;
        font-size: 14px;
        margin-left: 100px;
    }

    .modal-header {
        left: 0;
        text-align: center;
    }
    .modal-content {
        width: 80%;
        padding: 15px;
        max-height: 80vh;
        margin-left: 40px;
    }
    .overlay::before {
        backdrop-filter: blur(50px);
    }
}
