@import url('./global_styles.css');

body {
    font-family: Arial, sans-serif;
    /* background-image: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); */
    background-image: url("../media/galaxy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    height: auto;
    
}

/* .video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
} */

/*======Chatbot Figure======*/
.chatbot {
    width: 45%;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.first-part {
    display: flex;
    height: 100vh;
    overflow: hidden;

}

/*=======Qoute at the top of the page======*/
.qoute {
    margin-top: 20%;
    font-size: 40px;
    color: var(--navy1);
    transition: transform 0.5s ease-out;
}

/*=====Chat button=====*/
.chat-btn {
    position: absolute;
    margin-top: 27%;
    margin-left: 64%;
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 3px solid var(--dark_blue);
    transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out;
    border-radius: 50px;
    color: var(--white);
    transition: transform 0.5s ease-out;
    cursor: pointer;
}

.chat-btn:hover {
    background-color: var(--dark_blue);
    color: #333;
}


/*====User Profile Icon===*/

nav {
    position: absolute;
    top: -10px;
    right: 6%;
    width: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

nav .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(360deg);
}

.nav-content .toggle-btn,
.nav-content span a {
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.nav-content .toggle-btn {
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-225deg);
    transition: all 0.6s ease;
}

nav.open .toggle-btn {
    transform: rotate(0deg);
}

.nav-content span {
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}

nav.open .nav-content span {
    transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
    opacity: 1;
}

.nav-content span a {
    text-decoration: none;
    transform: rotate(45deg);
}

.nav-content span a i {
    font-size: 24px;
    color: #0e2431;
    transform: rotate(calc(var(--i) * (360deg / -8)));
    opacity: 0.8;
    transition: 0.2s;
}

.nav-content span a:hover i {
    opacity: 1;
}

/*====Turbo's Info===*/
.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-left: 7%;
    padding: 15px;
    transition: all 0.6s;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    width: 40%;
    height: 28%;
}

.turbo-question{
    color: var(--navy);
    padding-left: 7%;
}

.turbo-description{
    font-size:25px;
}