@import url("./global_styles.css");

body {
  font-family: Arial, sans-serif;
  /* background-image: url("../media/galaxy.jpg"); */
  /* background-image: url("../media/Dark\ blue\ swirl\ abstract\ texture\ background.jpg"); */
  /* background-image: url("../media/energy-flow.jpg"); */
  /* background-image: url("../media/bot-mainPage.jpg");  */
  background-image: url("https://img.freepik.com/premium-vector/minimal-glow-globe-vector-black-wallpaper_53876-162607.jpg");
  background-color: #081a25;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* color: #333; */
  height: auto;

  overflow-x: hidden;
}

/*======Chatbot Animated Figure======*/

.chatbot {
  width: 25%;
  height: 92%;
  margin-left: 10%;
  overflow: hidden;
  margin-right: 7%;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.first-part {
  display: flex;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

/*=======Qoute at the top of the page======*/
.chatbotText {
  display: flex;
  flex-direction: column;
  /* height:50vh;
    width: 50vw; */
  margin-top: 18%;
  padding: 0 0 0 0;
}

.qoute {
  font-size: 80px;
  font-style: italic;
  margin-left: -4%;
  color: var(--light_blue);
  font-family: var(--technoRace_font);
  font-weight: 100;
  text-shadow: 3px 0px 1px #ffffffc2;
}

.qoute2 {
  font-size: 40px;
  color: #b3b1b1;
  font-family: var(--paragraph_font);
  text-shadow: 5px 2px 4px #000000;
  font-weight: bold;
  letter-spacing: 2px;

  margin-bottom: 5%;
}

/*=====Chat button=====*/
.button-container {
  position: relative;
  margin-top: 450px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  transform: translateX(-450px);
}
.guideBtn {
  backdrop-filter: blur(10px);
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid var(--white);
  border-radius: 50px;
  color: var(--white);
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  margin-left: 10px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.guideBtn:hover {
  background-color: var(--dark_blue);
  color: var(--white);
  box-shadow: 0 0 15px rgba(173, 216, 230, 0.6);

/*=====Chat button=====*/
/* .chat-btn {
    position: absolute;
    margin-top: 32%;
    margin-left: 55%;
    height: 40px;
    width: 150px;
    background-color: #1e536e85;
    border: transparent;
    border-radius: 50px;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
 */
.guideBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(173, 216, 230, 0.3) 10%,
    transparent 70%
  );
  border-radius: 50%;
  transition: transform 0.5s ease;
  z-index: 0;
}

.guideBtn:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.guideBtn span {
  position: relative;
  z-index: 1;
}

/*====User Profile Icon===*/
nav {
  position: absolute;
  top: -10px;
  right: 6%;
  width: 80px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

nav .nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-content .toggle-btn,
.nav-content span a {
  height: 55px;
  width: 55px;
  background: #739aae7f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav-content .toggle-btn {
  font-size: 35px;
  color: #0e2431;
  z-index: 100;
  cursor: pointer;
  transition: all 0.6s ease;
}

nav.open .toggle-btn {
  transform: rotate(0deg);
}

.nav-content span {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}

nav.open .nav-content span {
  transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
  opacity: 1;
}

.nav-content span a {
  text-decoration: none;
}

.nav-content span a i {
  font-size: 24px;
  color: #0e2431;
  transform: rotate(calc(var(--i) * (360deg / -8)));
  opacity: 0.8;
  transition: 0.2s;
}

.nav-content span a:hover i {
  opacity: 1;
}

/*====Turbo's Info===*/
.second-part {
  display: flex;
  overflow: hidden;
}

.card-1 {
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.829);
  border: 1px solid rgba(255, 255, 255, 0.158);
  /* margin: 20px; */
  margin-left: 27%;
  margin-top: 5%;
  margin-bottom: 4%;
  padding: 40px;
  transition: all 0.6s;
  background: var(--grad2);
  backdrop-filter: blur(35px);
  width: 40%;
  height: 28%;
}

.turbo-question {
  color: var(--light_blue);
  /* padding-left: 7%; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: var(--header_font);
  font-weight: 100;
  text-shadow: none;
  font-size: 3rem;
  padding: 0 0 0 25%;
}

.turbo-description {
  font-size: 25px;
  /* color: var(--white_blue_light); */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: var(--paragraphs_font);
  color: aliceblue;
  text-align: center;
  text-shadow: none;
}

/*====Guidance Part====*/

.third-part {
  display: flex;
  overflow: hidden;
}

.card-2 {
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.829);
  border: 1px solid rgba(255, 255, 255, 0.158);
  margin-left: 15%;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 15px;
  transition: all 0.6s;
  background: var(--grad2);
  backdrop-filter: blur(35px);
  width: 60%;
  height: 28%;
  padding: 2% 5% 2% 5%;
}

.guidance {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  color: var(--light_blue);
  text-shadow: none;
  /* padding-left: 7%;
    padding-bottom: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 37px; */
  font-family: var(--header_font);
  font-weight: 100;
  font-size: 3rem;
  padding: 0 2% 0 18%;
}

.steps {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* color: var(--gray-blue); */
  font-family: var(--paragraph_font);
  color: whitesmoke;
  text-shadow: none;
  text-align: left;
  font-size: 2rem;
  font-weight: 200;
}

.step-description {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: var(--white_blue_light);
    margin-left: 5%; */
  font-family: var(--paragraphs_font);
  text-shadow: none;
  color: rgb(186, 196, 206);
  text-align: left;
  font-size: 1.5rem;
}