@import url('./global_styles.css');

body {
    background-image: url("../media/animationGIF3_VoiceMotionAi.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/*====User Profile Icon===*/

nav {
    position: absolute;
    top: -10px;
    right: 6%;
    width: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

nav .nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-content .toggle-btn,
.nav-content span a {
    height: 55px;
    width: 55px;
    background: #739aae7f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.nav-content .toggle-btn {
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transition: all 0.6s ease;
}

nav.open .toggle-btn {
    transform: rotate(0deg);

}

.nav-content span {
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}

nav.open .nav-content span {
    transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
    opacity: 1;
}

.nav-content span a {
    text-decoration: none;

}

.nav-content span a i {
    font-size: 24px;
    color: #0e2431;
    transform: rotate(calc(var(--i) * (360deg / -8)));
    opacity: 0.8;
    transition: 0.2s;
}

.nav-content span a:hover i {
    opacity: 1;
}


/*====Chat Card=====*/

.chat-card {
    /* background: var(--grad2); */
    /* background: linear-gradient(145deg, #01121b9c,#cccccc1f, #12537467); */
   background: linear-gradient(145deg, #000000fd,#cccccc00,#cccccc00 ,#000000fd);
   /* background: linear-gradient(145deg, #02001fd3,#cccccc00, #02001fd3); */

    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    margin-top: 7%;
    margin-left: 22%;
    width: 55%;
    height: auto;
    border: 2px solid rgba(20, 117, 197, 0.26);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

/*=====Starting Caption=====*/
.caption {
    display: block;
    color: white;
    /* font-size: 37px; */
    align-items: center;
    margin-left: 29%;
    margin-top: 22%;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: var(--technoRace_font);
    font-weight: 100;
    font-size: 3rem;

}


.chat-box {
    display: flex;               
    flex-direction: column;    
    padding: 10px;
    height: 400px;           
    overflow-y: auto; 
    border-bottom: 1px solid #dddddd60;
}

.user-message,
.bot-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 50px;
    display: block;
    word-wrap: break-word;
    border-radius: 1rem;
    font-family: var(--paragraphs_font);

}

/*message background*/
.user-message {
    background-color: #1d1d1db6;
    box-shadow: 5px 2px 1px 0px #000000be;    

    align-self: flex-end;    
    text-align: right;
    color: white;
    display: inline-block;      
    padding: 10px;            
    margin-bottom: 10px;
    font-size: 17px;

}

.bot-message {
    /* background-color: #30303094; */
    background: linear-gradient(145deg, #cccccc41,#52525259,#52525259 ,#cccccc38);
    box-shadow: 1px 2px 5px 2px #000000cb;    
    align-self: flex-start;   
    color: #2591c4;
    display: inline-block;     
    padding: 15px;              
    margin-bottom: 10px; 
    font-size: 17px;   
    font-weight: 600;
    letter-spacing: 1px;
    max-width: 80%;
}

/*input field*/
.user-input {
    display: flex;
    padding: 7px;
    position: relative;
    justify-content: center;
 
}


.input-container {
    display: flex;
    width: 100%; 
}

#input {
    /*
    border-radius: 50px;
    border: transparent;
    height: 29px;
    background-color: rgba(128, 128, 128, 0.295);
    color: white;
    font-size: 15px; */
        flex: 1;
        padding: 10px;
        height: 29px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.712), #2d9acc65);
        border-radius: 8px;
        color: #ccc;
        transition: border-color 0.3s ease;
        border: 2px solid #ccc;
        font-size: 16px;
        font-family: var(--paragraphs_font);

}

#input::placeholder {
    color: #ccc;
    opacity: 0.7;
    font-style: italic;
    
}
#input:focus {
    border: 3px solid #3ba7ff67;
    outline: none; 
    font-family: var(--paragraphs_font);

}

#send-btn {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 13px;
}


#send-btn i {
    transition: transform 0.3s ease;
    color:#0e2431;
    font-size: 20px;
}

#send-btn:hover i {
    transform: rotate(45deg);
}

.date-time {
    text-align: center;
    font-size: 1em;
    color: rgb(128, 128, 128);
    margin: 10px 0;
    font-family: monospace;
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 5px;
    width:26%;
    margin-left: 35%;
    padding: 4px;
}


