@import url('./global_styles.css');


html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #020925;
    color: #333;

}

.slideShowContainer_lp{
    position: relative;
    width: 100%;
    height: 100%;

}
.slide {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.slide-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.text-overlay {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
padding: 0;
    color: white;
    background: linear-gradient(250deg,#031d35,#01031f8f,#615a5a48,#070707a4,#000103e1 );  
       backdrop-filter: blur(3px);

        /* background: linear-gradient(210deg, #1a334abd,#000000c2 );  */
        /* background: linear-gradient(210deg, #1a334abd,#000000c2 );  */
}

/*slide1*/
.slide1Title_lp 
{
    font-family: var(--racing_font);
    font-size: 4rem; 
    font-weight: 100; 
    margin-bottom: 0.5rem;
    margin-top: 20rem;   

}

.slide1paragraph_lp {
font-family: var(--paragraph_font);
font-size: 2rem;
font-weight: 100; 

}

.videoBG_lp{
    position: absolute;
    width: 100%;
    height: 115%;
    object-fit: cover;
    z-index: -1;
}


/*slide 2*/

.slide2Title_lp {
    font-family: var(--technoRace_font);
    color: #B4C3CC;
    text-shadow: 2px 2px 4px #58717D;
    font-size: 4rem; 
    font-weight: 100; 
 margin-top: 29rem;   
}
.slide2paragraph_lp{
   font-family: var(--paragraph_font);
    font-size: 2rem;
    font-weight: 100;
    margin-top: -3rem;
    
}
/*slide 3*/
.slide3Title_lp{
    font-family: var(--technoRace_font);
    color: #B4C3CC;
    text-shadow: 2px 2px 4px #58717D;
    font-size: 4rem; 
    font-weight: 100; 
    margin-top: 20rem;
}
.slide3paragraph_lp{
    font-family: var(--header_font);
    font-size: 2rem;
    font-weight: 100;
}
/*slide 4*/
.slide4Title_lp{
    font-family: var(--technoRace_font);
    color: #B4C3CC;
    font-size: 3rem; 
    font-weight: 100; 
    margin-top: 20rem;
}
/*=================== slides Navigation ================*/
.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
}

.dot {
    height: 5px;
    width: 40px;
    margin: 0 5px;
    background-color: #1E536E;
    border-radius: 0%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot:hover, .active {
    background-color:#B4C3CC;
    box-shadow: 0 0 10px #020b0f;
    transform: translateY(-2px);
}




/*===============================PART 2====================================*/
.landingPage_part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #003ce2;
    color: white;
    height: 700px;
    
    

}