@import url('./global_styles.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.background-image {
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/5ab213152907841.6326340864617.jpg');
  background-size: cover; /* Ensure the image covers the whole container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  z-index: -1; /* Ensure the background is behind the content */
}

.formTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: VAR(--technoRace_font);
  color: rgb(125, 196, 255);

  /* color: rgb(221, 6, 6); *red/
  /* color: rgb(151, 151, 151); */

}

.bigformContainer {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


input,
select {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  background-color: #dadada;

}

input:focus {
  background-color: #f0f0f0;
  /* border:4px solid rgb(0, 205, 212); */
  border: 4px solid #4285F4;
  outline: none;
}

select:focus {
  background-color: #f0f0f0;
  /* Darken background color */
  border-color: rgb(0, 205, 212);
  /* Change border color */
  outline: none;
  /* Remove default focus outline */
}

.default {
  color: #888888;
}

option {
  background-color: rgb(105, 105, 105);
  color: rgb(255, 255, 255);
}

option:hover {
  color: rgba(7, 201, 226, 0.952);
}

.passwordContainer {
  position: relative;
}

.passwordContainer input {
  padding-right: 40px;
  /* Space for the eye icon */
}

.eye-icon {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: #ccc;
  transition: fill 0.3s ease;
}

.eye-icon:hover {
  fill: #4285F4;
}

button {
  /* padding: 10px; */
  /* font-size: 1.2rem; */
  font-family: var(--header_font);
  border: none;
  border-radius: 7px;
  background-color: #070d18;
  color: white;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  width: 70%;
  height: 40%;
  margin-left: 4rem;
}

button:hover {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.685);
}

.loginbutton {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #070d18;
}

.signupbutton {
  padding: 10px;

  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #070d18;
}

.signupbutton:hover,
.loginbutton:hover {
  color: #4285F4;
}

.google {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #070d18;
  color: white;
  cursor: pointer;
}

.google:hover {
  background-color: #a32c17;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.685);

}

#googleSU {
  padding: 10px;
}

.google svg {
  width: 1.5rem;
  height: 1.5rem;
}

.registerRedirection {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: var(--header_font);
  color: aliceblue;
}


#flipToSignup,
#flipToLogin {
  /* color: rgb(221, 6, 6); red*/
  color: rgb(125, 196, 255);
  text-decoration: none;
  font-family: var(--technoRace_font);
}






/* Card Container */
.cardContainer {
  perspective: 50%;
  /* Enables 3D space for card flipping */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

.card {
  width: 30vw;
  height: 100vh;
  /* background-color: aqua; */
  position: relative;
  transform-style: preserve-3d;
  /* Allows 3D children */
  transition: transform 0.8s ease-in-out;
  /* Smooth flipping animation */

}

.cardFront,
.cardBack {
  position: absolute;
  backface-visibility: hidden;
  /* Hides the back when the front is visible */
  /* background: linear-gradient(
      170deg,
      #000000e3,
      #0e39708f,
      #0e39708f,
      #000000e3
  ); */
  /* background: option1 linear-gradient(150deg,
      #2525259f,
      #ffffff56,
      #ffffff56,
      #2525259f); */
  background: linear-gradient(150deg,
      #0000009f,
      #49494956,
      #49494956,
      #0000009f);
  backdrop-filter: blur(8px);
  /* border: 2px solid rgb(179, 179, 179); */
  width: 90%;
  margin-left: 1.5rem;

}

.formContainer {
  width: 80%;
  height: 80%;
  text-align: center;
  margin-top: 0.5rem;
}



.cardFront {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 70%;
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.671);

}

.cardBack {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 90%;
  margin-top: 3rem;
  box-shadow: -10px 10px 2px rgba(0, 0, 0, 0.521);

}

/* When flipped */
.card.flip {
  transform: rotateY(180deg);
}