@import url("../css/global_styles.css");

body {
    font-family: "DM Sans", Arial, sans-serif;
    /* background-color: var(--blue_gray_dark); */
    /* background-color: #113c4e; */
    /* background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/8bc3f988444999.5dd6555764a62.jpg") center/cover fixed; */
    /* background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/547d9688444999.5dd65557622db.jpg") center/cover fixed; */
    /* background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/547d9688444999.5dd65557622db.jpg") center/cover fixed; */
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/aeafac88444999.5dd655576a341.jpg") center/cover fixed;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: auto;
    margin: 0;
    width: 100vw;
    color: #d8d8d8;

}

.resultsBiggestContainer {
    height: auto;
    margin: 0;
    backdrop-filter: blur(3px);
    width: 100vw;
    background: #00000062 center/cover fixed;

}

.sidebar {
    z-index: 100000;
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 13rem;
    /* padding: 1rem 2rem; */
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
    position: relative;
    top: 90px;
    /* Adjust this value to add space below the navbar */
    background: linear-gradient(250deg, #55555569, #000000b4);
    backdrop-filter: blur(5px);
    padding: 2rem;
}

/*=============Banner 1 title description==============*/
.titleBanner1 {
    font-family: var(--racing_font);
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 100;
    color: var(--white);
    margin-bottom: 0.3rem;
}

.paragraphBanner1 {
    font-family: var(--paragraph_font);
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 1.2px;
    color: var(--white);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: normal;
    font-style: oblique;
}

/*========banners below=====*/
.left-column,
.right-column {
    padding: 2rem;
}

/*==============Persona banner =============*/

.persona-container {
    display: flex;
    /* margin: 100px auto; */
    /* margin: 100px auto 100px; */
    /* margin-left: 13rem; */
    width: 95%;
    max-width: 1300px;
    margin-left: 10rem;
    /* background-color: #fff; */
    /* background: linear-gradient(180deg, #ffffff4f, #ffffffa6); */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 1.5rem !important;
    border: 2px solid #e2e2e241;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.418);
    margin-top: 7rem;
    height: 90vh;
}

.persona-container::before {
    content: "";
    /* background-color: var(--blue_gray_dark); */
    width: 2rem;
    /* Width of the separator */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    /* Position it between the columns */
}


.left-column {
    width: 45%;
    background: linear-gradient(180deg, #000000, #00000048, #000000);
    text-align: center;
    position: relative;
    z-index: 1;
    height: 100%;
}

.personaDiscriptionParagraph {
    font-size: 1.3rem;
    font-family: var(--paragraphs_font);
    color: var(--white);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2rem;
    text-align: center;
    word-wrap: normal;
    max-width: 100%;
    overflow: auto;
}

.persona-title {
    font-family: var(--racing_font);
    font-size: 3rem;
    color: aliceblue;
    font-weight: 100;

}

.persona-image {
    max-width: 60%;
    max-height: 50%;
    margin-bottom: 1.2rem;
}

/*=========TOP CAR=======*/
.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    background: linear-gradient(180deg, #9c9c9c94, #03030354, #000000bd);
    backdrop-filter: blur(2px);
    padding: 1rem;
    box-sizing: border-box;
}

.carList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Space between car cards */
    width: 100%;
}

.topCarDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /* Set a max width for consistent sizing */
    height: 100%;
    max-width: 100%;
    /* Allow shrinking on smaller screens */
    border-radius: 8px;
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    padding: 1rem;
}

.topImagediv {
    display: flex;
    flex-shrink: 1;
    /* Allow the image to shrink */
    justify-content: center;
    width: 70%;
    max-height: 400px;
    /* Set max height for the image */
    overflow: hidden;
    margin-bottom: 1rem;
}

.car-image {
    width: auto;
    height: 100%;
    max-width: 100%;
    /* Ensure the image scales properly */
    object-fit: contain;
    /* Prevent distortion */
    border-radius: 8px;
}

.carName {
    font-size: 1.8rem;
    margin: 10px 0;
    color: #cfcfcf;
    font-family: var(--technoRace_font);
    text-align: center;
    letter-spacing: 1.2px;
}

.car-info {
    width: 100%;
    text-align: center;
}

.topCarDescription {
    font-size: 1.4rem;
    font-family: var(--paragraphs_font);
    color: #cfcfcf;
    margin-top: 1rem;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    font-weight: 100;
    letter-spacing: 1.1px;
}


.noCarsMessage {
    font-size: 1.2rem;
    color: #e74c3c;
    font-weight: bold;
    text-align: center;
}


/* -------KEY PREFRENCES -------*/
.car-info {
    /* margin-top: 1rem; */
    /* padding: 20px; */
    /* border: 2px solid #cccccc49; */
    /* border-radius: 10px; */
    /* background: linear-gradient(145deg,#00000049, hsla(216, 100%, 71%, 0.192),#00000049); */
    /* background-color: #00000050; */
    /* backdrop-filter: blur(5px); */
    /* box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.589); */
    /* box-sizing: border-box; */
}

.carName {
    /* font-family: var(--header_font);
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 100; */
}

.car-preferences {
    /* margin: 0;
    padding: 0; */
}

/* Style for the unordered list */

.keyPreferences {
    /* margin-bottom: 10px;
    font-size: 1.4rem;
    font-family: var(--header_font);
    color: #bebebe;
    font-weight: 100;
    text-decoration: underline;
    text-align: center; */
}

.car-preferences ul {
    /* list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    color: rgb(198, 205, 211);
    font-family: var(--paragraphs_font); */
}

.car-preferences li {
    /* margin-bottom: 8px;
    font-size: 1.2rem; */
}




/* =========================================================*/

.resultsSectionHeader {
    font-family: var(--technoRace_font);
    font-size: 3rem;
    color: #ffffff;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-weight: 100;
}

.persona-slider-section {
    text-align: center;
}

.header {
    font-family: "DM Sans", var(--racing_font);
    font-style: italic;
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 70px;
    margin-top: 50px;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-container {
    width: 30%;
    height: 400px;
    margin: 0 auto;
}

.swiper-slide {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4cm;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.216);
    background: linear-gradient(180deg, #ffffff62, #9999994f, #00000073);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.persona-card {
    text-align: center;
    padding: 20px;
    position: relative;

}

.persona-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-bottom: 50px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    filter: invert(95%) brightness(100%);

}

.persona-card h4 {
    font-size: 2.3rem;
    /* color: var(--white); */
    /* margin-bottom: 10px; */
    /* margin-top: 100px; */
    font-family: var(--racing_font);
    letter-spacing: 1px;
    font-weight: 100;
    color: rgb(126, 195, 241);
    text-shadow: 2px 2px 2px #000000;
    margin-top: 7rem;

}

.swiper-slide-active {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

.persona-paragraph {
    font-size: 1.3rem;
    font-family: var(--paragraph_font);
    color: var(--white);
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    word-wrap: normal;
    white-space: pre-line;
    max-width: 300px;
    letter-spacing: 1px;
    font-weight: 100;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: var(--white);
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--white);
    box-shadow: 0 0 0 2px var(--white);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    left: 44.5%;
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--white);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: var(--white);
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: var(--white);
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px white;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

/*===============================parts 2,3 headers ====================================*/

/*titles headers */
.partsTitles_lp {
    height: 5rem;
    width: 100vw;

    display: flex;
    align-items: center;
    padding-left: 25rem;
    background: linear-gradient(250deg, #55555569, #000000b4);
    backdrop-filter: blur(5px);

    font-family: var(--technoRace_font);
    font-weight: 100;
    color: white;
    font-size: 3rem;
}

/*===============================PART 2: most recommended====================================*/
/* Landing Page Part 2 */
.landingPage_part2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 6.5rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;

    
}

.mostRecommendedCarsTitle_lp {
    white-space: nowrap;
}

.carCardsContainer_lp{
    display: flex;
    flex-direction: column;
flex-wrap: nowrap;
    gap: 20px;
    /* Space between car cards */
    width: 100%;
}
.pageEnd {
    height: 30vh;
    display: flex;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
}




/*=====car card===*/