@import url("./global_styles.css");

body {
  height: 100vh;
  width: 100%;
  background-image: url("../../../SWE_Phase1/public_html/media/userBG2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 110vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.sidebar {
  z-index: 100000000000;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.info-section {
  background: rgba(255, 255, 255, 0.1);
  margin: 10px 30px;
  border-radius: 15px;
  padding: 30px;
  width: 650px;
  text-align: left;
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-title {
  font-size: 1.2em;
  color: var(--white);
  margin-bottom: 5px;
}

.info-content {
  font-size: 1em;
  color: var(--white);
}

#profile-pic {
  font-size: 150px;
  color: var(--white);
  margin-left: 45%;
  margin-top: 110px;
  font-weight: 100;
}

.news-header {
  position: fixed;
  top: 93px;
  right: 20px;
  width: 300px;
  color: var(--white);
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
}

.rightSidebar {
  position: fixed;
  top: 150px;
  right: 20px;
  width: 300px;
  height: 500px;
  max-height: 100vh;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 15px 15px;
  overflow-y: hidden;
}

.news-card {
  width: 100%;
  max-width: 280px;
  margin: 10px auto;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background: rgba(50, 50, 50, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  margin-right: 15px;
}
.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--white);
}

.username {
  font-size: 1em;
  color: var(--white_blue_light);
}

.news {
  font-size: 1em;
  color: var(--white);
}

.news-card:hover {
  background: rgba(50, 50, 50, 0.7);
  transition: background 0.3s ease;
}
.editable {
  padding: 5px;
  display: inline-block;
  width: 250px;
}
.edit-icon {
  cursor: pointer;
  color: var(--white);
  margin-left: 300px;
  position: fixed;
}
@media (max-width: 600px) {
  .info-section {
    width: 90%;
    padding: 20px;
    margin-left: 30px;
  }

  #profile-pic {
    font-size: 100px;
    margin-left: 250px;
    margin-top: 50px;
  }

  .news-header {
    width: 90%;
    right: 5%;
  }

  .rightSidebar,
  .news-header {
    width: 70%;
    right: 12%;
    margin-top: 500px;
    height: auto;
  }

  .news-card {
    max-width: 80%;
  }

  .edit-icon {
    margin-left: 0;
    position: relative;
    display: block;
    margin-top: 10px;
  }
}
